# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\TIZIANO\Documents\DEVELOPPEMENT\JAVA\PAA2_YANES_MAHOLIDA_GHISOTTI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
